<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DGUKANYUFKA_APP.Properties.Settings.dy_appConnectionString"
            connectionString="Data Source=LAPTOP-UJ83ER0C\SQLEXPRESS;Initial Catalog=dy_app;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>